main > .container {
    padding: 70px 15px 20px;
}

.footer {
    background-color: red;
    font-size: .9em;
    height: 60px;
}

.footer > .container {
    padding-right: 15px;
    padding-left: 15px;
    color: white;
}

.not-set {
    color: #c55;
    font-style: italic;
}
a{
    color: black;
    text-decoration: none;
    background-color: transparent;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    content: '';
    left: 3px;
    display: inline-block;
    width: 0;
    height: 0;
    border: solid 5px transparent;
    margin: 4px 4px 2px 4px;
    background: transparent;
}

a.asc:after {
    border-bottom: solid 7px #212529;
    border-top-width: 0;
}

a.desc:after {
    border-top: solid 7px #212529;
    border-bottom-width: 0;
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/* align the logout "link" (button in form) of the navbar */
.nav li > form > button.logout {
    padding-top: 7px;
    color: rgba(255, 255, 255, 0.5);
}

@media(max-width:767px) {
    .nav li > form > button.logout {
        display:block;
        text-align: left;
        width: 100%;
        padding: 10px 0;
    }
}

.nav > li > form > button.logout:focus,
.nav > li > form > button.logout:hover {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.75);
}

.nav > li > form > button.logout:focus {
    outline: none;
}

.card {
    background-color: black;
    text-align: center;
    color: white;
    font-size: 20px;
    min-height: 20vh;
    min-width: 40vh;
    max-height: 20vh;
    max-width: 40vh;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    margin-top: 20px;
}

.cardpos {
    background-color: black; 
    text-align: center;
    color: white;
    font-size: 20px;
    min-height: 10vh;
    min-width: 20vh;
    max-height: 20vh;
    max-width: 40vh;
    margin-left: 105px;
    margin-right: 20px;
    margin-bottom: 20px;
    margin-top: 20px;
}

.margeniz{
    padding-left: 300px;
}

.btn-primary{
    background-color: red;
    border-color: red;
    
}

.btn-success{
    background-color: red;
    border-color: red;
}
.btn-primary:hover{
    color: black;
    background-color: white;
    border-color: white;
    
}
.btn-success{
    background-color: red;
    border-color: red;
}
.btn-succes:hover{
    color: black;
    background-color: white;
    border-color: white;
    
}
    
.nav-item:hover{
    color: red;
}

.navbar{
    background-color: black;
}
.colornavbar{
    background-color: black;
    color: white;
}

.titulos{
    color: black;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 20px;    
}

.margenizquierda{
    padding-left: 177px;
}

